* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(../public/img/mainbg.png);
}
.nav-item {
    margin-left: 30px;
}
.nav-link {
    color: #fff !important;
    font-size: 16px;
    transition: 0.2s ease-out;
    font-weight: 600;
}
.navbar-brand {
    width: 200px;
}

.nav-link:hover {
    color: #fff !important;
    text-shadow: 0 0 7px #4ca148, 0 0 10px #4ca148, 0 0 21px #4ca148,
        0 0 42px #4ca148, 0 0 82px #4ca148, 0 0 92px #4ca148;
}
.fa-discord {
    width: 24px;
    height: 24px;
    padding-right: 4px;
}
@media (max-width: 991px) {
    .nav-item {
        margin-left: 0px;
    }
}
